@font-face {
    font-family: 'ubuntu-mono';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('/fonts/ubuntu-mono.woff2') format('woff2'), url('/fonts/ubuntu-mono.woff') format('woff'), url('/fonts/ubuntu-mono.ttf') format('truetype'), url('/fonts/ubuntu-mono.otf') format('otf'), url('/fonts/ubuntu-mono.eot') format('embedded-opentype'), url('/fonts/ubuntu-mono.svg') format('svg');
    unicode-range: U+000-5FF;
}

:root {
    --font-family: 'ubuntu-mono';
    --font-code: 'ubuntu-mono';
    --background: #000000;
    --foreground: #d0d0d0;
    --theme: #44bb44;
    --navbg: #00000066;
    --shadow: #a0a0a0;
}