@font-face {
    font-family: 'ubuntu';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('/fonts/ubuntu.woff2') format('woff2'), url('/fonts/ubuntu.woff') format('woff'), url('/fonts/ubuntu.ttf') format('truetype'), url('/fonts/ubuntu.otf') format('otf'), url('/fonts/ubuntu.eot') format('embedded-opentype'), url('/fonts/ubuntu.svg') format('svg');
    unicode-range: U+000-5FF;
}

@font-face {
    font-family: 'ubuntu-mono';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('/fonts/ubuntu-mono.woff2') format('woff2'), url('/fonts/ubuntu-mono.woff') format('woff'), url('/fonts/ubuntu-mono.ttf') format('truetype'), url('/fonts/ubuntu-mono.otf') format('otf'), url('/fonts/ubuntu-mono.eot') format('embedded-opentype'), url('/fonts/ubuntu-mono.svg') format('svg');
    unicode-range: U+000-5FF;
}

:root {
    --font-family: 'ubuntu';
    --font-code: 'ubuntu-mono';
    --background: #202024;
    --foreground: #d0d0d0;
    --theme: #a792e0;
    --navbg: #20202466;
    --shadow: #695d8a;
}