@media (min-width: 0) {
    div.full {
        width: auto;
        margin: 0 0.6rem;
    }
    div.nav {
        width: auto;
        margin: 0.6rem 0 0 0;
        left: 0.6rem;
        right: 0.6rem;
    }
}

@media (min-width: 54.2rem) {
    div.full {
        width: calc(53rem - (100vw - 100%));
        margin: 0 auto;
    }
    div.nav {
        width: calc(53rem - (100vw - 100%));
        margin: 0.6rem auto 0 auto;
        left: 0;
        right: 0;
    }
}

::-webkit-scrollbar {
    width: 0.6rem;
}

::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: var(--background);
    border-radius: 0.3rem;
    box-shadow: inset 0 0 0.2rem 0 var(--theme);
    
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 0.4rem 0 var(--theme);
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: var(--background);
}

code {
    padding: 0 0.4rem;
    border-radius: 0.4rem;
    box-shadow: 0 0.15rem 0.2rem -0.1rem var(--shadow);
    font-family: var(--font-code);
}

a {
    color: var(--foreground);
    font-family: var(--font-family);
}
a:hover, textarea:hover, span.textarea:hover, input:hover {
    opacity: 75%;
}

a.elem, div.elem {
    box-sizing: border-box;
    margin-top: 0.5rem;
    display: block;
    box-shadow: 0 0 0.25rem 0 var(--shadow);
    border-radius: 0.5rem;
    padding: 0.7rem 0.8rem 0.75rem 0.8rem;
    font-size: 0;
}
a.elem {
    text-decoration: none;
}

div.content > .elem {
    scroll-margin-top: 3.9rem;
}
div.footer {
    opacity: 60%;
}

div.full {
    padding: 3.4rem 0 0.6rem 0;
}

div.nav a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 0 0.8rem 0 0.8rem;
    line-height: 2.8rem;
    height: 2.8rem;
    font-size: 1.05rem;
    margin: 0;
    color: var(--theme);
}

div.nav {
    height: 2.8rem;
    box-shadow: 0 0 0.25rem 0 var(--theme);
    position: fixed;
    overflow: clip;
    background-color: var(--navbg);
    backdrop-filter: blur(0.15rem);
    border-radius: 0.5rem;
    z-index: 1030;
    font-size: 0;
    line-height: 1.2em;
    margin-top: 0.6rem;
}

div.content {
    padding: 0 0 0 0;
}

div.sidebar {
    display: none;
}

div.content-items {
    margin: 0;
    padding: 0;
}

p {
    margin: 0.15rem 0 0.15rem 0.6rem;
    padding: 0;
    text-indent: -0.6rem;
    font-size: 1.05rem;
    line-height: 1.2em;
    color: var(--foreground);
    font-family: var(--font-family);
}

h1, h2 {
    display: inline-block;
    margin: 0.15rem 0 0.15rem 0;
    font-weight: normal;
    padding: 0;
    color: var(--foreground);
    font-family: var(--font-family);
    text-decoration: none;
}
h1 {
    font-size: 2.1rem;
    line-height: 1em;
}
h2 {
    font-size: 1.4rem;
    line-height: 1em;
}

div.buttons a {
    display: inline-block;
    margin: 0 0 0 0.6rem;
    box-shadow: 0 0 0.25rem 0 var(--shadow);
    border-radius: 0.3rem;
    text-decoration: none;
    padding: 0.15rem 0.45rem 0.25rem 0.45rem;
    font-size: 1.05rem;
    line-height: 1.2em;
}

div.buttons {
    display: block;
    margin: 0;
    float: right;
}

a.red, div.red, div.buttons a.red {
    box-shadow: 0 0 0.25rem 0 #dd4444;
    color: #dd4444;
}

.red h1, .red h2 {
    color: #dd4444;
}

a.green, div.green, div.buttons a.green {
    box-shadow: 0 0 0.25rem 0 #44bb44;
    color: #44bb44;
}

.green h1, .green h2 {
    color: #44bb44;
}

ul {
    font-size: 1.05rem;
    line-height: 1.2em;
    color: var(--foreground);
    font-family: var(--font-family);
    margin: 0.15rem 0 0.15rem 0;
    padding: 0 0 0 1rem;
    list-style-type: none;
}
li {
    text-indent: -0.95rem;
}
li:before {
    content: "- ";
}

div.nav a.right {
    float: right;
}

textarea, textarea:active, textarea:focus,
span.textarea, span.textarea:active, span.textarea:focus,
input, input:active, input:focus {
    font-family: var(--font-family);
    background: var(--background);
    color: var(--foreground);
    box-sizing: border-box;
    font-size: 1.05rem;
    line-height: 1.2em;
    resize: none;
    display: block;
    width: 100%;
    border: none;
    margin: 0.15rem 0 0.15rem 0;
    padding: 0;
    outline: none;
    opacity: 100%;
}

img {
    box-shadow: 0 0 0.25rem 0 var(--shadow);
    border-radius: 0.2rem;
    margin: 0.1rem 0.05rem 0.05rem 0;
    max-width: calc(100% - 0.05rem);
    display: block;
}

input[type="file"] {
    padding: 0.25rem;
}
input[type="file"]::file-selector-button {
    background-color: transparent;
    font-family: var(--font-family);
    color: var(--foreground);
    content: "Select file";
    box-shadow: 0 0 0.25rem 0 var(--shadow);
    border: none;
    border-radius: 0.3rem;
    text-decoration: none;
    padding: 0.15rem 0.45rem 0.25rem 0.45rem;
    font-size: 1.05rem;
    line-height: 1.2em;
}

select, select:active, select:focus {
    display: block;
    font-family: var(--font-family);
    color: var(--foreground);
    background: transparent;
    box-shadow: 0 0 0.25rem 0 var(--shadow);
    border: none;
    border-radius: 0.3rem;
    font-size: 1.05rem;
    line-height: 1.2em;
    margin: 0.3rem 0.05rem 0.25rem 0;
    padding: 0.15rem 0.45rem 0.25rem 0.45rem;
    outline: 0;
}

option {
    color: black;
    font-family: Arial;
    background: transparent;
    font-size: 1.05rem;
    line-height: 1.2em;
}