div.sidebar {
    overflow-x: hidden;
    overflow-y: scroll;
    position: sticky;
    margin-top: 0.5rem;
    top: 3.9rem;
    height: calc(100vh - 4.5rem);
    box-shadow: 0 0 0.25rem 0 var(--shadow);
    border-radius: 0.5rem;
}

div.sidebar div .elem {
    margin-top: 0;
    padding: 0.5rem 0.8rem 0.4rem 0.8rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.25rem -0.25rem var(--shadow);
}

div.sidebar div .elem.green p {
    color: #44bb44;
}

div.sidebar div .elem.green {
    box-shadow: 0 0.25rem 0.25rem -0.25rem #44bb44;
}

div.sidebar div .elem.red p {
    color: #dd4444;
}

div.sidebar div .elem.red {
    box-shadow: 0 0.25rem 0.25rem -0.25rem #dd4444;
}

div.elem.sidebar-spacer, a.elem.sidebar-spacer {
    display: none;
}

div.sidebar div .elem div h1, div.sidebar div .elem div h2 {
    margin-top: 0;
}